body{
      background-color: ghostwhite;
}
.contenedor{
      display: flex;
      margin: auto;
}
.nav{
      min-width: 200px;
      border-radius: 10px;
      width: 300px;
      background-color: gray;
}
.containerHijo{
      width: 1050px;
      max-width: 1200px;

}
.nav li{
      background-color: whitesmoke;
      padding: 10px;
      margin: 10px 0px;
      text-align: center;
}
.nav a{
      text-decoration: none;
      color: gray;
      font-size: 15px;
      
}
.headerContainerHijo{
      padding: 5px;
      border: solid 3px rgb(240 , 240, 240);
}
.headerContainerHijo ul{
      display: flex;
}
.headerContainerHijo li{
      list-style: none;
      width: 120px;
      border: solid 1px;
      margin: 20px auto;
      border-radius: 5px;
      padding: 3px 10px;
      text-align: center;
      box-shadow: 3px 3px 3px;
}
.headerContainerHijo a{
      text-decoration: none;
      color: black;
}
.containerHijoCrear{
      max-width: 1000px;
      margin: auto;
}
.textCrear{
      margin: 60px auto;
}
.botonGuardarCrear{
      padding: 10px;
      border-radius: 5px;
}