.bannerBuscar{
      padding: 20px;
      margin-top: 50px;

}
.bannerBuscar ul{
      display: flex;

}
.bannerBuscar li{
      list-style: none;
      margin: 0px 30px;
}
.bannerDetalles{
      border: solid;
      display: flex;
}
.bannerDetalles ul{
      margin: auto;
}

.bannerDetalles li{
      list-style: none;
      margin: 15px ;
}
.bannerInput{
      margin: 30px 50px;
}
.bannerInput ul{
      display: flex;
      
}
.bannerInput li{
      list-style: none;
      margin: 5px 20px;
      text-align: center;
}
.seccionBotton{
      text-align: center;
      margin-bottom: 100px;

}
.seccionBotton input{
      padding: 10px;
      width: 120px;
      font-size: 20px;
      margin-top: 30px;
}
.eliminar__elemento li{
      border: solid 2px #e6e6e6;
      width: 120px;
      height: 170px;
      padding: 5px;
      margin: 10px;
      font-size: 12px;
}
.eliminar__elemento ul{
      display: flex;
      list-style: none;
      margin: 20px auto;
}
.encabezado__elimina__elemento{
      padding: 10px;
      background-color: rgb(240, 240, 240);  
      box-shadow: 3px 3px 3px #e6e6e6;    
}
.eliminar__elemento__modulo{
      text-align: center;
      margin: auto;

}
.eliminar__elemento__modulo{
      list-style: none;
}
.eliminar__elemento__modulo li{
      border: solid;
      height: 80px;
      max-width: 600px;
      margin: 20px;
      border-radius: 10px;
      list-style: none;
}