.contenedorConsulta ul {
      display: flex;
}
.contenedorConsulta li{
      list-style: none;
      margin: auto;
}
.contenedorImagen{
      border: solid 1px #000;
      border-radius: 3px;
      width: 250px;
      height: 300px;
      margin: 20px auto;
      display: flex;
      flex-direction: column-reverse;
}
.tituloImagen{
      background-color: darkgrey;
}
.modularImagen{
      border: solid;
      width: 500px;
      height: auto;
      min-height: 80px;
      border-radius: 10px;
}
.contenedorModular li{
      list-style: none;
      margin: 20px auto;
}